body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 80px; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px; 
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #e0646a;
  font-size: 28px; 
}


h1 {
  text-align: center;
  margin-top: 300px;
  /* margin-bottom: 30px; */
  color: #ffffff;
  font-size: 39px; 
  font-weight: bold;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 39px; 
  font-weight: bold;
}

.btn-light{
  text-align: center;
  padding: 12px;
  font-size: 18px;
  margin-left: 550px;
}

.form-group {
  margin-bottom: 25px; 
}

input.form-control {
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 6px; 
  width: 100%;
  font-size: 16px; 
}

.btn-primary {
  padding: 12px; 
  background-color: #e0646a;
  border: none;
  border-radius: 6px; 
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 18px; 
}

.btn-primary:hover {
  background-color: #7b7d80;
}

.btn-secondary {
  padding: 12px; 
  background-color: #6c757d;
  border: none;
  border-radius: 6px; 
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-size: 18px; 
}

.btn-secondary:hover {
  background-color: #555e64;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; 
  padding: 10px;
  background-color: #f8f9fa;
  z-index: 1;
}

.navbar-brand {
  color: #e0646a;
  font-weight: bold;
  font-size: 24px;
}

.nav-item {
  color:#030303;
  font-weight: bold;
  font-size: 18px;
}

.logout-button {
  margin-left: auto;
}

.subscribe-button {
  margin-left: auto;
  padding: 2px; 
  background-color: #e0646a;
  border: none;
  border-radius: 6px; 
  color: #fff;
  cursor: pointer;

}

.services-page {
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  display: flex;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 0.625rem;
  height: 85vh; 
}

.dashboard {
  position: fixed;
  top: 10%;
  left: 5%;
  right: 5%;
  display: flex;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 0.625rem;
  height: 85vh; 
  /* background-image: url('./Image/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background: url('./Image/Background.gif') center center no-repeat;
  background-size: cover;
  animation: fadeInOut 10s ease infinite;
}

.services-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  width: 100%; 
  box-sizing: border-box; 
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.list-group {
  max-height: 300px;
  overflow-y: auto;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 10%;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

.customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #727775;
  color: white;
}

@media (min-width: 768px) {
  .services-page {
    padding-top: 60px;
  }

  .services-content {
    max-width: 1200px; 
    margin: 0 auto; 
  }
}
